@using DevSkill.Inventory.Web.Areas.Admin.Models
@using DevSkill.Inventory.Web.Models
@model DashboardViewModel

@{
    ViewData["Title"] = "Index";
}
@section Styles
{
    <style>
        .custom-col {
            width: 20%;
            padding: 8px;
            float: left;
        }
    </style>
    <!-- apexcharts -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.css"
          integrity="sha256-4MX+61mt9NVvvuPjUWdUdyfZfxSB1/Rf9WtqRHgG5S0="
          crossorigin="anonymous" />
    <!-- jsvectormap -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/css/jsvectormap.min.css"
          integrity="sha256-+uGLJmmTKOqBr+2E6KDYs/NRsHxSkONXFHUL0fy2O/4="
          crossorigin="anonymous" />
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script>
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "Top Oil Reserves"
                },
                data: [{
                    type: "column",
                    dataPoints: [
                        { x: 1, y: 297571, label: "2025-06-19" },
                        { x: 2, y: 267017, label: "Saudi" },
                        { x: 3, y: 175200, label: "Canada" },
                        { x: 4, y: 154580, label: "Iran" },
                        { x: 5, y: 116000, label: "Russia" },
                        { x: 6, y: 97800, label: "UAE" },
                        { x: 7, y: 20682, label: "US" },
                        { x: 8, y: 20350, label: "China" }
                    ]
                }]
            });

            chart.render();
        };
    </script>


    <script>
        const ctx = document.getElementById('myPieChart').getContext('2d');

        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Red', 'Blue', 'Yellow'],
                datasets: [{
                    label: 'Sales',
                    data: [180, 300, 120],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.7)',
                        'rgba(255, 206, 86, 0.7)'
                    ],
                    borderColor: [
                        'white',
                        'white',
                        'white'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                        text: 'Product Sales Distribution'
                    }
                }
            }
        });
    </script>

}
<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Dashboard</h3></div>
            <div class="col-sm-6">
@*                 <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol> *@
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <!--begin::Col-->
            <div class="custom-col">
                <!--begin::Small Box Widget 1-->
                <div class="small-box text-bg-primary">
                    <div class="inner">
                        <h3>@Model.TotalProducts</h3>
                        <p>Total Products</p>
                    </div>
@*                     <svg class="small-box-icon"
                         fill="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true">
                        <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"></path>
                    </svg> *@

                    <svg class="small-box-icon"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         version="1.1" x="0px" y="0px" viewBox="0 -23 141 171"
                         enable-background="new 0 0 256 256"
                         fill="currentColor"
                         xml:space="preserve"
                         aria-hidden="true">
                    <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                    <g><g><g>
                    <path xmlns="http://www.w3.org/2000/svg"
                    d="M118.13,9.54a3.25,3.25,0,0,1,2.2.41,3.28,3.28,0,0,1,2,3l.57,78.83a3.29,3.29,0,0,1-1.59,3L89.12,113.93a3.29,3.29,0,0,1-2,.65,3.07,3.07,0,0,1-.53,0L3.11,105.25A3.28,3.28,0,0,1,0,102V21.78H0A3.28,3.28,0,0,1,2,18.7L43.89.27h0A3.19,3.19,0,0,1,45.63,0l72.5,9.51Zm-37.26,1.7-24.67,14,30.38,3.88,22.5-14.18-28.21-3.7Zm-29,20L50.75,64.62,38.23,56.09,25.72,63.17l2.53-34.91L6.55,25.49V99.05l77.33,8.6V35.36l-32-4.09Zm-19.7-9.09L56.12,8,45.7,6.62,15.24,20l16.95,2.17ZM90.44,34.41v71.12l25.9-15.44-.52-71.68-25.38,16Z" />
                        </svg>
                    <a href="/products"
                       class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                        More info <i class="bi bi-link-45deg"></i>
                    </a>
                </div>
                <!--end::Small Box Widget 1-->
            </div>
            <!--end::Col-->
            <div class="custom-col">
                <!--begin::Small Box Widget 2-->
                <div class="small-box text-bg-success">
                    <div class="inner">
                        <h3>@Model.TotalCustomers</h3>
                        <p>Total Customers</p>
                    </div>
@*                     <svg class="small-box-icon"
                         fill="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true">
                        <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"></path>
                    </svg> *@

                    <svg class="small-box-icon"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         version="1.1" x="0px" y="0px" viewBox="0 0 256 256"
                         enable-background="new 0 0 256 256"
                         fill="currentColor"
                         xml:space="preserve"
                         aria-hidden="true">
                    <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                    <g><g><g>
                    <path d="M45.7,44.9c-11.4,2.5-16.8,11.2-16.8,27.3c0,10.3,2.6,17.4,8.6,23.5c13.8,14,35.4,5.7,39.8-15.2c1.5-7.1,0.8-16.8-1.5-23.2c-1.4-3.7-5.7-8.7-8.9-10.4C61.4,44.2,52.7,43.3,45.7,44.9z" />
                    <path d="M195.1,44.9c-4.9,1.1-7.8,2.7-10.8,5.9c-3.1,3.4-4.7,6.8-5.7,12.7c-3.3,18.5,4.2,34.2,18.4,38.3c12.3,3.6,25.2-5.2,29.1-19.6c2-7.3,0.9-21-2.1-27C219.3,46.2,207.9,42.1,195.1,44.9z" />
                    <path d="M119.9,52c-10.8,2.4-18.3,9.9-21.3,21.3c-1.4,5.3-2.1,15.6-1.4,21.9c2.1,22,19,37.7,37.6,34.7c15-2.4,26.7-16.4,28.7-34.2c0.6-5.7-0.1-17.4-1.4-22.4c-3-11.6-10.5-19-21.6-21.4C135.6,50.9,124.7,50.9,119.9,52z" />
                    <path d="M38.7,104.9C16.2,109.4,10,117.5,10,142.3v7.6l2.5,2.3c6,5.6,14.5,8.7,27.7,10.3c5.6,0.7,21.3,0.7,25.4,0.1c2.5-0.4,2.6-0.5,3.4-3.7c0.5-1.8,2-5.5,3.3-8.2c3.9-7.9,10.5-13.7,20.1-17.6l3.9-1.5l-0.8-4.1c-2.5-13.2-10.1-19.3-27.8-22.7c-4-0.7-4.3-0.7-4.9,0.4c-1.2,1.9-5.3,3.4-9.4,3.4c-4.2,0-7-0.9-9.1-3.1C42.9,104,42.9,104,38.7,104.9z" />
                    <path d="M187,105c-15.9,3.3-22.6,8.2-26,19c-1.8,5.9-1.7,6.1,2.9,7.6c15.9,5.3,24,13.6,28,28.9l0.7,2.5h9.1c11.3,0,21-1.2,28.3-3.6c6.3-2.1,9.7-3.9,13.4-7.3l2.7-2.4l-0.4-10.4c-0.4-11-1.1-15.1-3.7-20.2c-3.8-7.4-10.4-11.3-23.9-14.1l-5.3-1.1l-1.4,1.5c-2,2.1-4.7,3.1-8.9,3.1c-4.1,0-8.1-1.5-9.4-3.4C192.2,104,192.1,104,187,105z" />
                    <path d="M107.8,133.8c-20,4.6-29.3,11.3-33.2,23.9c-2.5,8.1-4.4,30.8-3,35.2c1.5,4.4,9.8,10.4,19,13.7c11.6,4.1,20.9,5.3,40.3,5.3c13.6-0.1,16.7-0.2,23.4-1.4c8.9-1.5,18.6-4.6,23.8-7.5c4.9-2.7,10-7.5,10.8-10.1c0.9-2.5,0.4-17.2-0.9-25.9c-2.8-20.1-12-28.4-37.2-33.7l-6.3-1.3l-2.7,2.4c-3.1,2.8-6.2,3.9-11.6,3.9c-5.4,0-8.6-1.1-11.6-3.8c-1.4-1.2-3-2.3-3.6-2.3C114.5,132.3,111.2,133,107.8,133.8z" /></g></g></g>
                        </svg>
                    <a href="/Customers"
                       class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                        More info <i class="bi bi-link-45deg"></i>
                    </a>
                </div>
                <!--end::Small Box Widget 2-->
            </div>
            <!--end::Col-->
            <div class="custom-col">
                <!--begin::Small Box Widget 3-->
                <div class="small-box text-bg-warning">
                    <div class="inner">
                        <h3>@Model.TotalSales</h3>
                        <p>Total Sales</p>
                    </div>
@*                     <svg class="small-box-icon"
                         fill="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true">
                        <path d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"></path>
                    </svg> *@

@*                     <svg class="small-box-icon"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         version="1.1" x="0px" y="0px" viewBox="-12 -18 640 512"
                         enable-background="8"
                         fill="currentColor"
                         xml:space="preserve"
                         aria-hidden="true"
                         style="width: 70px; height: 70px;">
                        <path d="M80 48a48 48 0 1 1 96 0A48 48 0 1 1 80 48zm64 193.7l0 65.1 51 51c7.1 7.1 11.8 16.2 13.4 26.1l15.2 90.9c2.9 17.4-8.9 33.9-26.3 36.8s-33.9-8.9-36.8-26.3l-14.3-85.9L66.8 320C54.8 308 48 291.7 48 274.7l0-88.1c0-32.4 26.2-58.6 58.6-58.6c24.1 0 46.5 12 59.9 32l47.4 71.1 10.1 5 0-76.2c0-17.7 14.3-32 32-32l128 0c17.7 0 32 14.3 32 32l0 76.2 10.1-5L473.5 160c13.3-20 35.8-32 59.9-32c32.4 0 58.6 26.2 58.6 58.6l0 88.1c0 17-6.7 33.3-18.7 45.3l-79.4 79.4-14.3 85.9c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8l15.2-90.9c1.6-9.9 6.3-19 13.4-26.1l51-51 0-65.1-19 28.5c-4.6 7-11 12.6-18.5 16.3l-59.6 29.8c-2.4 1.3-4.9 2.2-7.6 2.8c-2.6 .6-5.3 .9-7.9 .8l-126.7 0c-2.5 .1-5-.2-7.5-.7c-2.9-.6-5.6-1.6-8.1-3l-59.5-29.8c-7.5-3.7-13.8-9.4-18.5-16.3l-19-28.5zM2.3 468.1L50.1 348.6l49.2 49.2-37.6 94c-6.6 16.4-25.2 24.4-41.6 17.8S-4.3 484.5 2.3 468.1zM512 0a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm77.9 348.6l47.8 119.5c6.6 16.4-1.4 35-17.8 41.6s-35-1.4-41.6-17.8l-37.6-94 49.2-49.2z" /></svg> *@
                        <svg class ="small-box-icon"
                        xmlns="http://www.w3.org/2000/svg" 
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        fill="currentColor"
                        height="70px" width="70px"
                         version="1.1" viewBox="-81 10 393 202"
                         enable-background="8">
                            <g>
                                <path d="m268.115,109.241l-.007-48.16-45.821-14.862-28.274-39.001-45.808,14.944-45.809-14.943-28.273,39-45.821,14.862-.007,48.161-28.295,38.963 28.296,38.964 .006,48.16 45.821,14.862 28.274,39.001 45.808-14.944 45.809,14.943 28.273-39 45.821-14.862 .007-48.161 28.295-38.963-28.295-38.964zm-171.548,25.239c-4.941-4.971-7.695-11.228-7.695-18.772v-6.753c0-7.602 2.739-13.903 7.651-18.903 4.913-4.999 12.041-7.498 21.106-7.498 9.18,0 16.095,2.499 21.006,7.498 4.913,5 7.237,11.302 7.237,18.903v6.753c0,7.603-2.254,13.874-7.167,18.813-4.912,4.943-11.94,7.412-21.003,7.412-9.122,0.001-16.193-2.484-21.135-7.453zm26.026,68.062l-13.77-6.93 62.363-99.814 13.772,6.93-62.365,99.814zm84.279-14.997c0,7.66-2.392,13.961-7.275,18.902-4.883,4.941-11.83,7.409-20.894,7.409-9.121,0-16.257-2.483-21.258-7.454-4.997-4.97-7.573-11.256-7.573-18.857v-6.754c0-7.543 2.573-13.815 7.544-18.815 4.969-5.001 12.031-7.499 21.093-7.499 9.18,0 16.183,2.487 21.066,7.454 4.883,4.972 7.297,11.258 7.297,18.86v6.754z" />
                                <path d="m124.645,122.965c1.608-1.947 2.227-4.373 2.227-7.279v-6.711c0-2.903-0.635-5.357-2.272-7.362-1.639-2.005-3.884-3.008-6.924-3.008-2.981,0-5.504,1.003-7.14,3.008-1.637,2.005-2.664,4.459-2.664,7.362v6.711c0,2.906 1.074,5.332 2.71,7.279 1.637,1.945 4.041,2.918 7.142,2.918 2.981-1.42109e-14 5.312-0.973 6.921-2.918z" />
                                <path d="m178.554,170.527c-3.041,0-5.485,1.005-7.12,3.008-1.641,2.005-2.562,4.432-2.562,7.278v6.708c0,2.792 1.039,5.201 2.912,7.236 1.871,2.033 4.203,3.048 6.893,3.048 3.625,0 6.03-0.899 7.318-2.702 1.284-1.8 1.877-4.327 1.877-7.582v-6.708c0-2.847-0.755-5.273-2.422-7.278-1.667-2.003-3.915-3.008-6.896-3.008z" />
                            </g>
                        </svg>
                    <a href="/Sales"
                       class="small-box-footer link-dark link-underline-opacity-0 link-underline-opacity-50-hover">
                        More info <i class="bi bi-link-45deg"></i>
                    </a>
                </div>
                <!--end::Small Box Widget 3-->
            </div>
            <!--end::Col-->
            <div class="custom-col">
                <!--begin::Small Box Widget 4-->
                <div class="small-box text-bg-danger">
                    <div class="inner">
                        <h3>@Model.TotalBalanceTransfer</h3>
                        <p>Total BalanceTransfer</p>
                    </div>
                   @*  <svg class="small-box-icon"
                         fill="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true">
                        <path clip-rule="evenodd"
                              fill-rule="evenodd"
                              d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z"></path>
                        <path clip-rule="evenodd"
                              fill-rule="evenodd"
                              d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z"></path>
                    </svg> *@

@*                     <svg class="small-box-icon"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         version="1.1" x="0px" y="0px" viewBox="-12 -18 576 512"
                         enable-background="new 0 0 576 512"
                         fill="currentColor"
                         xml:space="preserve"
                         aria-hidden="true"
                         style="width: 70px; height: 70px;">
                        <path d="M253.3 35.1c6.1-11.8 1.5-26.3-10.2-32.4s-26.3-1.5-32.4 10.2L117.6 192 32 192c-17.7 0-32 14.3-32 32s14.3 32 32 32L83.9 463.5C91 492 116.6 512 146 512L430 512c29.4 0 55-20 62.1-48.5L544 256c17.7 0 32-14.3 32-32s-14.3-32-32-32l-85.6 0L365.3 12.9C359.2 1.2 344.7-3.4 332.9 2.7s-16.3 20.6-10.2 32.4L404.3 192l-232.6 0L253.3 35.1zM192 304l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16s16 7.2 16 16zm96-16c8.8 0 16 7.2 16 16l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16zm128 16l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16s16 7.2 16 16z" /></svg> *@

                    <svg class="small-box-icon"
                        version="1.1" id="Layer_1" 
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" 
                        x="0px" y="0px" viewBox="0 -10 90.13 140.88" 
                        style="enable-background:new 0 0 90.13 122.88" 
                        fill="currentColor"
                        xml:space="preserve">
                        <style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style>
                        <g>
                       <path class="st0" d="M38.28,61.22l25.86-18.34l25.99,18.34H38.28L38.28,61.22z M45.52,48.28l-18.78-2.71l5.4-4 C28.52,33.75,23,29.54,14.82,29.29c11.14-7.15,21.63-3.69,28.08,4.32l5.51-4.08L45.52,48.28L45.52,48.28L45.52,48.28L45.52,48.28z M14.04,0h38.23c3.87,0,7.41,1.59,9.93,4.11c2.56,2.56,4.11,6.06,4.11,9.93v24.13h-4.24V13.76H4.2v87.47h57.88v-2.38h4.24v9.99 c0,3.87-1.59,7.41-4.11,9.93c-2.56,2.56-6.06,4.11-9.93,4.11H14.04c-3.87,0-7.41-1.59-9.93-4.11C1.55,116.21,0,112.7,0,108.84 v-94.8c0-3.87,1.59-7.41,4.11-9.93C6.68,1.55,10.18,0,14.04,0L14.04,0z M31.88,105.62c3.18,0,5.78,2.56,5.78,5.78 c0,3.18-2.56,5.78-5.78,5.78c-3.17,0-5.78-2.56-5.78-5.78C26.1,108.23,28.66,105.62,31.88,105.62L31.88,105.62z M39.85,91.2v-6.01 h1.78l1.7-1.33V67.88h-3.47v-3.83h48.55v3.83h-3.46v15.97l1.7,1.33h1.81v6.01H39.85L39.85,91.2z M51.41,85.19h1.96l1.7-1.33V67.88 h-5.35v15.97L51.41,85.19L51.41,85.19L51.41,85.19z M63.16,85.19h1.96l1.69-1.33V67.88h-5.35v15.97L63.16,85.19L63.16,85.19 L63.16,85.19z M74.9,85.19h1.96l1.7-1.33V67.88H73.2v15.97L74.9,85.19L74.9,85.19L74.9,85.19z"/></g>
                        </svg>
                    <a href="/BalanceTransfers"
                       class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                        More info <i class="bi bi-link-45deg"></i>
                    </a>
                </div>
                <!--end::Small Box Widget 4-->
            </div>
            <!--end::Col-->

            <div class="custom-col">
                <!--begin::Small Box Widget 1-->
                <div class="small-box text-bg-primary">
                    <div class="inner">
                        <h3>@Model.TotalUsers</h3>
                        <p>Total Users</p>
                    </div>
@*                     <svg class="small-box-icon"
                         fill="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true">
                        <path d="M417.22 240.9c15.67-1.72 29.89-9.47 35.23-23.8 41.62 26.61 59.55 9.73 59.55 66.3h-90.99c0-18.11-1.26-31.84-3.79-42.5zm-305.11 42.5c5.89-76.2 19.74-48.02 85.11-88.92 20.19 42.13 102.24 45.19 119.07 0 56.41 36.07 83.6 12.25 83.6 88.92H112.11zm100.52-92.24c-.87-1.13 2.28-8.89 3.02-10.14-8.54-7.6-15.28-15.27-16.72-31.05l-.92.02c-2.11-.02-4.15-.51-6.06-1.6-3.06-1.74-5.21-4.73-6.66-8.09-3.08-7.07-13.21-30.52 2.22-28.67-8.62-16.11 10.91-43.64-22.78-53.82 27.64-35.01 85.95-88.98 128.68-34.84 46.77 4.53 61.36 60.12 29.87 90.56 1.84.07 3.58.5 5.12 1.32 5.86 3.14 6.05 9.94 4.51 15.65-1.52 4.77-3.46 8-5.28 12.65-2.22 6.28-5.46 7.45-11.72 6.77-.32 15.53-7.49 23.15-17.15 32.26l2.64 8.95c-12.94 27.46-66.72 28.57-88.77.03zM0 283.4c4.34-56.23 12.43-36.12 60.67-66.3 6.28 13.11 20.68 21.09 36.16 23.44-2.53 9.96-4.3 22.89-5.66 40.13-.11.89-.17 1.8-.17 2.73H0zm72.04-68.75c-.65-.83 1.68-6.56 2.23-7.48-6.3-5.61-11.28-11.27-12.34-22.91l-.68.01c-1.56-.02-3.07-.38-4.48-1.18-2.25-1.28-3.84-3.49-4.91-5.97-2.27-5.21-9.74-22.52 1.64-21.15-6.36-11.89 8.05-32.21-16.81-39.72 20.4-25.83 63.42-65.65 94.95-25.71 34.52 3.35 45.28 44.37 22.04 66.83 1.36.05 2.65.36 3.78.97 4.32 2.32 4.47 7.34 3.33 11.55-1.12 3.52-2.55 5.9-3.89 9.34-1.64 4.63-4.03 5.49-8.66 4.99-.1 5.32-1.3 9.38-3.27 12.87l-2.96 1.17c-21.79 8.53-34.18 13.39-41.66 31.45-10.92-1.42-21.61-6.38-28.31-15.06zm297.1-18.3c-1.67-3.25-2.84-7.13-3.29-12.09l-.68.01c-1.56-.02-3.07-.38-4.47-1.18-2.26-1.28-3.85-3.49-4.92-5.97-2.27-5.21-9.74-22.52 1.65-21.15-6.37-11.89 8.04-32.21-16.82-39.72 20.4-25.83 63.42-65.65 94.96-25.71 34.51 3.35 45.28 44.37 22.04 66.83 1.36.05 2.64.36 3.78.97 4.32 2.32 4.46 7.34 3.32 11.55-1.12 3.52-2.55 5.9-3.89 9.34-1.64 4.63-4.03 5.49-8.65 4.99-.24 11.46-5.53 17.08-12.66 23.81l1.95 6.6c-4.46 9.47-15.51 14.69-27.67 15.42-8.04-19.6-22.85-25.57-44.65-33.7z" />
                    </svg> *@
                    <svg class="small-box-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    shape-rendering="geometricPrecision"
                    text-rendering="geometricPrecision" 
                    image-rendering="optimizeQuality" 
                    fill="currentColor"
                    fill-rule="evenodd" 
                    clip-rule="evenodd" 
                    viewBox="0 -4 499 360.4">
                    <path d="M417.22 240.9c15.67-1.72 29.89-9.47 35.23-23.8 41.62 26.61 59.55 9.73 59.55 66.3h-90.99c0-18.11-1.26-31.84-3.79-42.5zm-305.11 42.5c5.89-76.2 19.74-48.02 85.11-88.92 20.19 42.13 102.24 45.19 119.07 0 56.41 36.07 83.6 12.25 83.6 88.92H112.11zm100.52-92.24c-.87-1.13 2.28-8.89 3.02-10.14-8.54-7.6-15.28-15.27-16.72-31.05l-.92.02c-2.11-.02-4.15-.51-6.06-1.6-3.06-1.74-5.21-4.73-6.66-8.09-3.08-7.07-13.21-30.52 2.22-28.67-8.62-16.11 10.91-43.64-22.78-53.82 27.64-35.01 85.95-88.98 128.68-34.84 46.77 4.53 61.36 60.12 29.87 90.56 1.84.07 3.58.5 5.12 1.32 5.86 3.14 6.05 9.94 4.51 15.65-1.52 4.77-3.46 8-5.28 12.65-2.22 6.28-5.46 7.45-11.72 6.77-.32 15.53-7.49 23.15-17.15 32.26l2.64 8.95c-12.94 27.46-66.72 28.57-88.77.03zM0 283.4c4.34-56.23 12.43-36.12 60.67-66.3 6.28 13.11 20.68 21.09 36.16 23.44-2.53 9.96-4.3 22.89-5.66 40.13-.11.89-.17 1.8-.17 2.73H0zm72.04-68.75c-.65-.83 1.68-6.56 2.23-7.48-6.3-5.61-11.28-11.27-12.34-22.91l-.68.01c-1.56-.02-3.07-.38-4.48-1.18-2.25-1.28-3.84-3.49-4.91-5.97-2.27-5.21-9.74-22.52 1.64-21.15-6.36-11.89 8.05-32.21-16.81-39.72 20.4-25.83 63.42-65.65 94.95-25.71 34.52 3.35 45.28 44.37 22.04 66.83 1.36.05 2.65.36 3.78.97 4.32 2.32 4.47 7.34 3.33 11.55-1.12 3.52-2.55 5.9-3.89 9.34-1.64 4.63-4.03 5.49-8.66 4.99-.1 5.32-1.3 9.38-3.27 12.87l-2.96 1.17c-21.79 8.53-34.18 13.39-41.66 31.45-10.92-1.42-21.61-6.38-28.31-15.06zm297.1-18.3c-1.67-3.25-2.84-7.13-3.29-12.09l-.68.01c-1.56-.02-3.07-.38-4.47-1.18-2.26-1.28-3.85-3.49-4.92-5.97-2.27-5.21-9.74-22.52 1.65-21.15-6.37-11.89 8.04-32.21-16.82-39.72 20.4-25.83 63.42-65.65 94.96-25.71 34.51 3.35 45.28 44.37 22.04 66.83 1.36.05 2.64.36 3.78.97 4.32 2.32 4.46 7.34 3.32 11.55-1.12 3.52-2.55 5.9-3.89 9.34-1.64 4.63-4.03 5.49-8.65 4.99-.24 11.46-5.53 17.08-12.66 23.81l1.95 6.6c-4.46 9.47-15.51 14.69-27.67 15.42-8.04-19.6-22.85-25.57-44.65-33.7z" />
                     </svg>
                    <a href="/UserManagement/User"
                       class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                        More info <i class="bi bi-link-45deg"></i>
                    </a>
                </div>
                <!--end::Small Box Widget 1-->
            </div>
        </div>
        <!--end::Row1-->

        <!-- /.row (main row) -->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content-->
<!---<h1>Index</h1>-->
